*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color:  hsl(228, 33%, 97%);
}
#big-container{
    width: 100vw;
    /* height: 19rem; */
    /* border: 2px solid green; */
    margin: auto;
    display: block;
    flex-direction: column-reverse;
    
    
}
#first-con{
    width: 50%;
    height: 7rem;
    /* border: 2px solid red; */
    margin: 1rem 0 0 15rem;
    display: flex;
    background: white;
    border-radius: 5px;
   
}

#small{
    width: 5rem;
    height: 5rem;
    /* border: 1px solid black; */
    background: hsl(223, 19%, 93%);
    margin: 10px 0 0 10px;
    display: block;
    border-radius: 6px;
}
#small img{
    margin: 0 0 0 14px;
}
#small #score{
    margin: 8px 0 0 10px;
    color: hsl(212, 24%, 26%);
}
#image-con{
    width: 110%;
    height: 2.8rem;
    /* border: 1px solid black; */
    margin: 10px 0 0 10px;
    display: flex;
}
#image-con h4{
    color: hsl(212, 24%, 26%);
}
#imgc{
    width: 4rem;
    height: 2.8rem;
    /* border: 1px solid black; */
}
#imgc img{
    width: 60%;
    height: 70%;
}
#time-created{
    margin: 4px 0 0 10px;
    font-size: 13px;
    font-weight: 200px;
    color: hsl(211, 10%, 45%);
}
#img2{
    width: 5rem;
    margin: 0 0 0 12rem;
    /* border: 2px solid black; */
}
#img2 span{
    color: rgb(60, 60, 200);
    font-size: 14px;
}



.big #comment{
    font-size: 12px;
    margin: 0 0 0 10px;
    color: hsl(212, 19%, 41%);
    
}
#com{
    width: 90%;
    /* border: 1px solid yellow; */
}



/* ....COMMENT-BOX... */

.comment-section{
    width: 45%;
    height: 19rem;
    margin: 1rem 0 0 15rem;
    display: flex;
    background: rgb(255, 255, 255);
    /* border: 2px solid purple; */
    border-radius: 5px;
}
.user-img{
    width: 3rem;
    height: 2.8rem;
    position: relative;
    top: -1.5rem;
    
}
.con-input{
    width: 75%;
    height: 3.8rem;
    margin: 1rem 1rem 0 1rem;
    border-radius: 6px;
}
#sendBtn{
    background-color: rgb(33, 33, 153);
    width: 9rem;
    height: 3rem;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    margin: 6.5rem 0 0 4rem ;
    
    
}

#nameInput{
    width: 75%;
    height: 3rem;
    margin: 0 4rem;
    margin-top: 1rem;
    border-radius: 6px;
    
}
#scoreinput{
    width: 75%;
    height: 3rem;
    margin: 0 4rem;
    margin-top: 1rem;
    border-radius: 6px;

}
#time{
    width: 75%;
    height: 3rem;
    margin: 0 4rem;
    margin-top: 1rem;
    border-radius: 6px;

}
#one{
    width: 60%;
    /* border:  2px solid purple; */
}
#two{
    width: 30%;
   

}
@media screen and (max-width: 800px) {
    #first-con{
        width: 100%;
        height: 9rem;
        /* border: 2px solid red; */
        margin: 0 0 8px 0;
        /* display: flex;
        background: white;
        border-radius: 5px; */
       
    }
    #second-con{
        width: 100%;
        height: 7rem;
        /* border: 2px solid red; */
        margin: 0;
        padding: 0 15rem 0 0;
        
        right: 23rem;
        position: relative;
        display: flex;
        background: white;
        border-radius: 5px;
       
    }
    #big-container{
        width: 100%;
        height: 20rem;
       
    }
    #img2{
        width: 5rem;
        margin: 0 0 0 1.2rem;
        /* border: 2px solid black; */
    }
    #small{
        width: 6rem;
        height: 5rem;
}

    .comment-section{
        width: 100%;
        height: 23rem;
        margin: auto;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        background: rgb(255, 254, 254);
     
    }
    #one{
        width: 100%;
       
       
    }
    #two{
        width: 100%;
        
        margin-top: 1rem;
    
    }
    #sendBtn{
        background-color: rgb(33, 33, 153);
        width: 7rem;
        height: 2.6rem;
        margin-top: 0rem;
        color: white;
        font-size: 15px;
        border: none;
        border-radius: 7px;
    }
 
}


/*... SECOND-BOX ...*/

#second-con{
    width: 40%;
    height: 7rem;
    /* border: 2px solid red; */
    margin: 1rem 0 0 23rem;
    display: flex;
    background: white;
    border-radius: 5px;
   
}

#small{
    width: 2.5rem;
    height: 5rem;
    /* border: 1px solid black; */
    background: hsl(223, 19%, 93%);
    margin: 10px 0 0 10px;
    display: block;
    border-radius: 6px;
}
#small img{
    margin: 0 0 0 14px;
}
#small #score{
    margin: 8px 0 0 10px;
    color: hsl(212, 24%, 26%);
}
#image-con{
    width: 110%;
    height: 2.8rem;
    /* border: 1px solid black; */
    margin: 10px 0 0 10px;
    display: flex;
}
#image-con h4{
    color: hsl(212, 24%, 26%);
}
#imgc{
    width: 4rem;
    height: 2.8rem;
    /* border: 1px solid black; */
}
#imgc img{
    width: 60%;
    height: 70%;
}
#time-created{
    margin: 4px 0 0 10px;
    font-size: 13px;
    font-weight: 200px;
    color: hsl(211, 10%, 45%);
}
#img2{
    width: 5rem;
    margin: 0 0 0 6rem;
    /* border: 2px solid black; */
}
#img2 span{
    color: rgb(60, 60, 200);
    font-size: 14px;
}



.big #comment{
    font-size: 12px;
    margin: 0 0 0 10px;
    color: hsl(212, 19%, 41%);
    
}
#com{
    width: 90%;
    /* border: 1px solid yellow; */
}



